.Stepper-Button-Label {
  font-size: var(--text-size-small);
  font-weight: var(--text-semi-bold);
  color: var(--text-secondary-color);
}

.Stepper-Button {
  appearance: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--space-large) var(--space-small);
  user-select: none;
  border-radius: 4px;
  border: none;
  background: none;

  &:hover {
    background-color: rgba(77, 160, 255, 0.08);
  }

  &.is-active .Stepper-Button-Label {
    color: var(--text-primary-color);
  }
}

.Stepper-Button-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-bottom: 4px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-gray);
  color: #fff;
  font-weight: 700;
  line-height: 0;
  transition: background-color 220ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 220ms cubic-bezier(0.4, 0, 0.2, 1), transform 220ms;
  transform: scale(0.9);

  &.is-active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    transform: scale(1);
  }
}
