.FooterNavigation {
  display: flex;
  justify-content: stretch;
  min-height: 52px;
  box-shadow: 0 4px 24px 0 rgba(37, 38, 94, 0.1);
  background-color: #fff;
  pointer-events: all;
  animation: FooterNavigation-SlideIn 0.2s cubic-bezier(0.4, 0, 0.4, 1);
  animation-fill-mode: both;
}

@keyframes FooterNavigation-SlideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
