.Checkbox-Container {
  position: relative;
  left: -16px;
  display: inline-flex;
  align-items: center;
}

.Checkbox {
  display: inline-block;
  padding: 16px;
  border-radius: 50%;
}

.Checkbox-Marker {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid var(--disabled);
  user-select: none;
  color: var(--accent-primary);
  outline: 0;
  transition: all 220ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;

  .Icon {
    transform: scale(0);
    opacity: 0;
    transition: opacity 180ms, transform 220ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.is-checked {
    border-color: var(--accent-primary);
    background-color: var(--accent-primary);

    .Icon {
      transform: scale(1);
      opacity: 1;
    }
  }

  &:focus {
    border-color: var(--accent-primary);

    /* box-shadow: var(--outline); */
  }
}

.Checkbox-Label {
  font-size: var(--text-size);
  color: var(--text-secondary-color);
  cursor: default;
  line-height: 1rem;
}
