.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-primary);

  &.is-fit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
