<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#4da1ff" />
    <meta name="description" content="Blockle Appointment" />
    <title>Blockle Appointment</title>
    <script>
      var link = document.createElement('link');
      var preload =
        link.relList && link.relList.supports ? link.relList.supports('preload') : false;

      if (!preload) {
        link.rel = 'stylesheet';
        link.href = 'https://fonts.googleapis.com/css?family=Lato:400,700';
        document.head.appendChild(link);
      }
    </script>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      as="style"
      onload="this.rel='stylesheet'"
    />
  </head>
  <body>
    <div id="root"></div>

    <!-- <div id="blockle-initial-overlay" class="Layout is-fit" style="z-index: 9999;">
      <div class="Application" role="main">
        <div class="paper effect-fade theme-fill is-fit is-enter">
          <div class="Box is-align-center is-column is-fit is-flex is-justify-center">
            <p class="text align-left size-medium">Loading</p>
          </div>
        </div>
      </div>
    </div> -->

    <% if(htmlWebpackPlugin.options.sentryEnabled) {%>
    <script
      src="https://browser.sentry-cdn.com/4.5.2/bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({ dsn: 'https://133dbdd15a3344be830e59783e67197e@sentry.io/1376587' });
    </script>
    <% } %>
  </body>
</html>
