:root {
  --outline: inset 0 0 0 2px rgba(77, 161, 255, 0.2);

  /* Blockle Blocks */

  /* Spacing */
  --space-gutter: 28px;
  --space-xsmall: 8px;
  --space-small: 12px;
  --space-medium: 20px;
  --space-large: 26px;
  --space-xlarge: 48px;

  /* Font famlily */
  --font-family: 'Lato', sans-serif;

  /* Font size */
  --font-xsmall: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 18px;
  --font-xlarge: 22px;

  /* Font weight */
  --weight-normal: 400;
  --weight-bold: 700;

  /* Colors */
  --color-primary: #4da1ff;
  --color-secondary: #2c8dfc;
  --color-success: #7ed321;
  --color-warning: #f5a623;
  --color-black: #323c47;
  --color-white: #fff;
  --color-gray: #939eab;
}
